@import 'font/_euclid.css';
@import 'font/_euclid.css';
@import 'font/_euclid.css';
* {
  margin: 0;
  padding: 0;
}

html {
  -webkit-text-size-adjust: 100%;
}

html,
body {
  -webkit-font-smoothing: antialiased;
}

main {
  overflow: hidden;
}

section {
  padding-top: 50px;
  padding-bottom: 50px;
}
@media screen and (min-width: 768px) {
  section {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}
@media screen and (min-width: 1024px) {
  section {
    padding-top: 130px;
    padding-bottom: 130px;
  }
}

h1 {
  font-family: "Euclid Circular B Light", sans-serif;
  font-weight: 300;
  font-size: 40px;
  line-height: 1.27;
}

h2 {
  font-family: "Euclid Circular B Medium", sans-serif;
  font-size: 36px;
  line-height: 1.27;
}
@media screen and (min-width: 768px) {
  h2 {
    font-size: 48px;
  }
}
@media screen and (min-width: 1024px) {
  h2 {
    font-size: 52px;
  }
}
@media screen and (min-width: 1366px) {
  h2 {
    font-size: 64px;
  }
}

h3 {
  font-family: "Euclid Circular B Medium", sans-serif;
  font-size: 36px;
  line-height: 1.27;
}
@media screen and (min-width: 768px) {
  h3 {
    font-size: 48px;
  }
}

h4 {
  font-family: "Euclid Circular B Medium", sans-serif;
  font-size: 36px;
  line-height: 1.27;
}

h5 {
  font-family: "Euclid Circular B Medium", sans-serif;
  font-size: 28px;
  line-height: 1.27;
}

p {
  font-family: "Euclid Circular B Light", sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  object-fit: cover;
}

.container {
  box-sizing: border-box;
  width: 100%;
  max-width: 760px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}
@media screen and (min-width: 1024px) {
  .container {
    max-width: 960px;
  }
}
@media screen and (min-width: 1366px) {
  .container {
    max-width: 1200px;
  }
}

.hide {
  display: none;
}

.active {
  display: block;
}

.time-line {
  position: relative;
}
.time-line__wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.time-line::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 3px;
  height: 3px;
  margin: auto;
  content: "";
  border-radius: 50%;
  background: #fff;
}
.time-line::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 3px;
  height: 3px;
  margin: auto;
  content: "";
  border-radius: 50%;
  background: #fff;
}
.time-line__line_all-progress {
  display: block;
  width: 100%;
  height: 1px;
  opacity: 0.2;
  background: #fff;
}
.time-line__line_this-progress {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  height: 1px;
  margin: auto;
  content: "";
  animation: pulsate-2 2s linear;
  opacity: 1;
  background: #fff;
}
@keyframes pulsate-2 {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}
@-webkit-keyframes pulsate-2 {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}
.time-line__line_month {
  font-family: "Euclid Circular B Light", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  position: absolute;
  top: -25px;
  right: 0;
  left: 0;
  width: max-content;
  height: max-content;
  margin: auto;
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
