@import 'font/_euclid.css';

$euclidCircularBold: 'Euclid Circular B Bold', sans-serif;
$euclidCircularSemiBold: 'Euclid Circular B SemiBold', sans-serif;
$euclidCircularMedium: 'Euclid Circular B Medium', sans-serif;
$euclidCircularRegular: 'Euclid Circular B Regular', sans-serif;
$euclidCircularLight: 'Euclid Circular B Light', sans-serif;

$grid-width: 1200px;
$grid-padding: 20px;

$background-dark: #252f3c;
$background-inner-page: #e0e2ee;

$color-on-dark-background: #fff;
$color-on-dark-background-hover: rgba(255, 255, 255, 0.8);

$color-title-default: #151824;
$color-text-default: #3d3e47;

$transition-default: .3s;