@import 'font/_euclid.css';

$euclidCircularBold: 'Euclid Circular B Bold', sans-serif;
$euclidCircularSemiBold: 'Euclid Circular B SemiBold', sans-serif;
$euclidCircularMedium: 'Euclid Circular B Medium', sans-serif;
$euclidCircularRegular: 'Euclid Circular B Regular', sans-serif;
$euclidCircularLight: 'Euclid Circular B Light', sans-serif;

$grid-width: 1200px;
$grid-padding: 20px;

$background-top-block: #252f3c;
$color-on-dark-background: #fff;

$color-title-default: #151824;
$color-text-default: #3d3e47;
